<div class="animated fadeIn">
    <div class="container mt-3">
        <h1>PRIVITY SPACE</h1>
        <hr class="mb-3">
        
        <div class="row">
            
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-4">
                <h4 class="mb-3 animated fadeIn ">Eiron Díaz</h4>
                <div class="chat-window animated fadeIn ">

                    <div class="input-group chat-div px-5">
                        <input type="text" class="form-control" placeholder="">
                        <button class="btn btn-primary" type="button">Enviar</button>                      
                    </div>
                </div>
            </div>
            <div style="border: solid 0.5px rgb(219, 219, 219);" class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <h4 class="mb-3 mt-3">Usuarios</h4>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>
                        <li class=" user-list-elemnt list-group-item"><h5> An item</h5></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>