.chat-window{
    height: 400px;
    padding: 20px;
    overflow-y:scroll;
}

.user-list-elemnt{
    cursor: pointer;
    color: rgb(105, 105, 105);
}

.user-list-elemnt :hover{
    cursor: pointer;
    font-weight: bold;
    color:black;
}

.chat-div{
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
}